<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mcc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helper.MCC"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/TrasparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/TrasparentTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".director.DirectorHomeActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".director.DirectorProfileActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".director.DirectorPostActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".director.DirectorWishlistActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".director.DirectorViewActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".director.DirectorFeedbackActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".director.DirectorWishlistDetailsActivity"
            android:parentActivityName=".director.DirectorWishlistActivity" />
        <activity
            android:name=".director.DirectorMemberDetailsActivity"
            android:parentActivityName=".director.DirectorViewActivity" />
        <activity
            android:name=".director.DirectorCategoryDetailsActivity"
            android:parentActivityName=".director.DirectorViewActivity" />
        <activity
            android:name=".director.DirectorCategoryFullDetailsActivity"
            android:parentActivityName=".director.DirectorCategoryDetailsActivity" />
        <activity
            android:name=".member.MemberPostActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".member.MemberTrailerActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".member.MemberTrailerPlayerActivity"
            android:parentActivityName=".member.MemberTrailerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".member.MemberRatingActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".member.MemberLookActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".member.MemberInterviewActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".member.MemberInterviewPlayerActivity"
            android:parentActivityName=".member.MemberInterviewActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".member.MemberProfileActivity"
            android:parentActivityName=".activity.HomeActivity"/>
        <activity
            android:name=".member.MemberProfileEditActivity"
            android:parentActivityName=".member.MemberProfileActivity" />
        <activity android:name=".member.MemberImageViewActivity"
            android:parentActivityName=".member.MemberProfileActivity"/>
        <activity android:name=".member.MemberVideoViewActivity"
            android:parentActivityName=".member.MemberProfileActivity"/>
    </application>

</manifest>